.DS_Store
stanford-postagger-full-2012-11-11/*
!stanford-postagger-full-2012-11-11/stanford-postagger.sh
stanford-segmenter-2012-11-11/

model/*
!model/model_8761
!model/model_gaz8864
gazetteer/*.lex
